*.elc
*~
#*#
auto-save-list
games
tramp-autosave
gnuplot
ac-comphist.dat
ac-dict
anything-c-adaptive-history
/bind-key.el
/use-package.el
/.DS_Store
/elpa/
/history
/places
/shell-integration.el
/special-prefix-mode.el
/tag.el
/tramp
/.mc-lists.el
/eln-cache/
/amx-items
/var/
